build-desenha_quadrado-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/
build-desenha_quadrado-Desktop_Qt_6_3_2_MinGW_64_bit-Debug/
build-Atividade-02-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/
build-Soma01-Desktop_Qt_6_3_1_MinGW_64_bit-Debug/
build-first_app_opengl-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/
build-first_app_opengl-Desktop_Qt_6_3_2_MinGW_64_bit-Debug/
Projeto Atividade 3.zip
